body{
    text-align: left;
    margin-left: 30em;
}
#go {
    background-color: limegreen;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid greenyellow;
    color: white;
    margin-top: 10px;
}

input#commando {
    padding: 5px 10px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 30px;
}

p {
    margin: 0 0 5px;
}

section {
    margin-left: 10px;
}

.history-container .kaart {
    width: calc(33.33% - 20px);
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    float: left;
    box-sizing: border-box;
}

.history-container .kaart.google {
    background-color: #4285f4;
}

.history-container .kaart.youtube {
    background-color: #ff0000;
}

.history-container .kaart.twitter {
    background-color: #1da1f2;
}

.history-container .kaart.instagram {
    background-color: #833ab4;
}

.history-container .kaart-titel {
    font-size: 18px;
    margin-bottom: 5px;
}

.history-container .kaart-tekst {
    font-size: 16px;
    margin-bottom: 5px;
}
