.container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: cornflowerblue;
}

.container .block {
    margin: 0;
    padding: 20px;
    background-color: white;
}
