header{
    height:200px;
    background-image: url("../images/bgsky3.jpg");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: darkblue;
    margin: 0;
}
h1 {
    font-size:300%;
    font-weight:bold;
    font-style:italic;
    margin-top: 0;
}
h2{
    font-size:240%;
    font-weight:bold;
}
header img{
    padding-right: 90px;
    padding-bottom: 60px;
    position: absolute;
    top: 50px;
    right: 28%;

}